.about {
  width: 95%;
  margin: 0 auto;
  background: aqua;
  padding: 10px;
}

.habout {
  text-align: center;
}

.flexbox-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.flexbox-container2 {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center; // Go centrira horizontalno da bide na sredina
  align-items: center; // Bidejki se vertikalni align-items gi centrira
}

.flexbox-container3 {
  display: flex;
}

.flexbox-item {
  display: flex;
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background: #dfdfdf;
  justify-content: center;
  align-items: center;
}

.flexbox-item-1 {
  min-height: 100px;
}

.flexbox-item-2 {
  min-height: 200px;
  flex-shrink: 0;
}

.flexbox-item-3 {
  min-height: 300px;
  flex-grow: 1;
}