* {
  font-family: sans-serif;
}
.app {
  margin-top: 10px;
  // padding: 30px;
}
.bgimg{
  background-image: url("https://images.hdqwalls.com/download/pizza-baked-chesse-spicy-7t-1920x1080.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  min-height: 730px;
}
.main-flex {
  display: flex;
  justify-content: space-evenly;

  &__item {
    display: flex;
    cursor: pointer;
  }
}
#main{
  .main-flex{
  
  &__item {
    background: whitesmoke;
    opacity: 0.4;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 60px;
  }
  }
}
a {
  text-decoration: none;
  color: white;
}
.fade-enter, .fade-leave{
  opacity: 0;
  transform: translateX(2em);
}

.fade-enter-active, .fade-leave-active{
  transition: all .9s ease;
}
.flip-list-move{
  transition: transform 1s;
}
