.contact {
  width: 90%;
  margin: 0 auto;
  background: #333;
  font-family: sans-serif;
  padding: 10px;
}

.clr {
  clear: both;
}

.hcontact {
  text-decoration: underline;
  color: white;
  text-align: center;
}

.wrapper {
  background: gray;
  padding: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.d1wrapper {
  color: white;
  display: flex;
  background: #1b00b399;
  padding: 40px;
  flex-direction: column;
  margin: 20px;
  border-radius: 6px;
  justify-content: right;
}

.img {
  width: 60%;
  margin: 0 auto;
  height: 300px;
  margin-bottom: 15px;
  border-radius: 16px;
  border: 1px solid black;
}

.available span {
  color: white;
  background: rgb(26, 24, 24);
  border: 1px solid rgb(255, 255, 255);
}

.nearby span:after {
  content: "nearby";
  margin-left: 10px;
}