#header {
  .main-flex {
    justify-content: flex-end;
    padding: 20px;
    background: black;
    position: relative;
    bottom: 16px;
    cursor: default;
    &__item {
      margin-left: 2%;
      margin-right: 3%;
      text-transform: uppercase;
      font-weight: bold;
      color: $tertiary;
      flex-grow: 0.1;
      align-items: center;
      border-right: 2px solid white;
      transition: 0.4s ease-in-out;
      &:hover{
          border-right-color: $globalhover;
      }
    }
    a {
        transition: 0.4s ease-in-out;
      color: $tertiary;
      &:hover {
        color: $globalhover;
      }
    }
  }
  .main-flex__item:nth-child(1) {
    text-transform: uppercase;
    font-style: italic;
    position: relative;
    flex: 1 0;
    font-size: 25px;
    align-items: center;
    border-right: none;
  }
  .main-flex__item:nth-child(5) {
    border-right: none;
  }
  //   .main-flex__item:nth-child(3){
  //     justify-content: center;
  //     align-items: center;
  //   }
}
