.main-navigation {
    // margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 3px 1px  2px black;
  }
  .main-navigation ul {
    list-style: none;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
  }
  .main-navigation ul > li {
    flex: 1 1 100px;
  }
  .main-navigation li {
    width: 130px;
    text-transform: uppercase;
  }
  .main-navigation a {
    text-decoration: none;
    color: $tertiary;
    font-size: 20px;
  }
  