.produkt-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__item{
        color: $brand-primary;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 10%;
        text-align: right;
        font-size: 22px;
        width: 95%;
        transition: 0.7s ease-in-out;
        &:hover{
            color: red;
        }
    }
}