.products {
  margin-top: 100px;
  margin-bottom: 30px;

  &__row {
    display: flex;
    justify-content: center;

    &__item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 300px;
      margin: 60px;
      padding: 25px;
      transition: 0.7s ease;
      background: #161f28de;

      &:hover {
        background: #161f28f7;
      }

      &--title {
        margin-bottom: 10px;
        text-align: center;
        font-size: 20px;
        color: $tertiary;
      }

      &--img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 10px auto;
        transition: 0.7s ease-in-out;
      }

      &--price {
        text-align: center;
        color: $tertiary;
      }

      &--ingredients {
        color: $tertiary;
        text-align: center;
      }
    }
  }
}