.row {
    display: flex;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 0 10px 0;
        transition: 0.5s ease-in-out;
        border-top: 1px solid;
        border-bottom: 1px solid;
        &:hover {
            border-color: red;
        }

        &--img {
            flex: 0;
            margin-left: 15px;
            border-radius: 100%;
        }

        &--price {
            flex: 3;
            text-align: center;
        }

        &--btn {
            flex: 0;
            margin-right: 15px;
        }
    }
}