.sample {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background: linear-gradient(#141e30, #243b55);
}
.flexbox-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  width: 100%;
}
.flex-box-input
{
  display: flex;
  margin: 5px;
  color: white;
  opacity: 0.6;
  background: #00000080;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
}
.flex-box-input
{
    color: white;
}
input {
  color: white;
  outline: none;
}
.form {
  background: rgba(0, 0, 0, 0.5);
  width: 40%;
  margin: 80px auto;
  padding: 30px 30px 50px 30px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 20px;
}
.formbind *{
  cursor: default;
}
.sampleh2 {
  color: white;
  text-align: center;
}

