#header {
    .main-flex {
        background: black;
        position: relative;
        bottom: 16px;
        padding: 15px;
        cursor: default;

        &__item {
            margin-left: 2%;
            margin-right: 3%;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            flex-grow: 0.1;
            border-right: 2px solid white;
            transition: 0.4s ease-in-out;

            &:hover {
                border-right-color: $globalhover;
            }

            button {
                display: none;
            }
        }

        a {
            transition: 0.4s ease-in-out;
            color: $tertiary;

            &:hover {
                color: $globalhover;
            }
        }
    }

    .main-flex__item:nth-child(1) {
        font-style: italic;
        flex: 1 0;
        display: flex;
        font-size: 25px;
        border-right: none;
        cursor: default;

        &span {
            cursor: pointer;
        }
    }

    // .main-flex__item:nth-child(5) {
    //     border-right: none;
    // }
    .main-flex__item:last-child {
        border-right: none;
    }
}

// #main {
//     .main-flex {
//         &__item {
//             background: #161f28de;
//             display: flex;
//             justify-content: center;
//             margin: 60px;
//             transition: 0.7s ease-in-out;
//             z-index: 99;
//             flex-direction: column;

//             &:hover {
//                 background: #161f28ed;

//                 img {
//                     box-shadow: 0px 0px 17px #5e5e5e;
//                 }
//             }
//         }

//         span {
//             margin-top: 15px;
//             display: flex;
//             justify-content: center;
//             position: relative;
//             font-size: 35px;
//             color: $tertiary;
//         }

//         img {
//             border-radius: 50%;
//             display: block;
//             margin: 15px auto 0px;
//             transition: 0.7s ease-in-out;
//         }

//         div {
//             color: darkgray;
//             text-transform: none;
//             padding: 30px;
//             text-shadow: 1px 1px 2.5px black;
//             text-align: justify;
//         }

//         button {
//             margin: 0px auto 20px;
//             border: 2px solid;
//             border-radius: 2px;
//             padding: 5px;
//             color: white;
//             background: #5959597d;
//             font-size: 21px;
//             transition: 0.4s ease-in-out;
//             display: flex;
//             justify-content: center;
//             width: 45%;
//             outline: none;
//             cursor: pointer;

//             &:hover {
//                 color: $globalhover;
//                 border-color: #8f8f8f;
//             }
//         }

//     }

//     a {
//         cursor: default;
//     }
// }

#footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5px;

    .main-flex {
        justify-content: center;

        &__item {
            font-size: 18px;
            font-weight: bold;
            text-shadow: 2px 1px 2px black;
        }
    }

    span {
        text-shadow: 2px 1.3px 1px black;
        transition: 0.7s;

        &:hover {
            color: $globalhover;
        }
    }
}